---
layout: base.njk
title: Template-Test
ogDescription: Demo-Page für das Eleventy-Tooling. Nicht produktiv.
permalink: /template-test/
---

<article>
  <h1>Template-Test</h1>
  <p>
    Diese Seite demonstriert, dass das Eleventy-Setup funktioniert.
    Sandwich-Menu oben und Footer unten kommen aus den Partials
    (<code>_includes/sandwich.njk</code> und <code>_includes/footer.njk</code>).
    Das HTML-Skelett kommt aus <code>_includes/base.njk</code>.
  </p>
  <p>
    Wenn du dieses Tooling produktiv nutzen willst, siehe <code>README.md</code>
    im <code>_eleventy/</code>-Ordner.
  </p>
</article>
