<footer>
  <div class="footer-links">
    <a href="https://instagram.com/viktorsauerch" target="_blank" rel="noopener">Instagram</a>
    <span class="sep">|</span>
    <a href="mailto:viktor.sauer.ch@gmail.com">E-Mail</a>
  </div>
  <div class="footer-copy">
    © <span id="copyright"></span> Viktor Sauer
  </div>
</footer>
